.divLogin {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }

  .css-x1e7x4{
    width: 70% !important;
    height: 45% !important;
  }

  .css-8ndowl{
    z-index: 0 !important;
  }