.MuiInputBase-input .MuiOutlinedInput-input .MuiInputBase-inputSizeSmall .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    width: 100% !important
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root .descricao{
    width: 100% !important;
}

.css-1fvqjm9-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-endAdornment{
    display: flex !important;
    justify-content: flex-end;
}

.descricaoOcorrencia .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    height: 25vh !important;
}

.descricaoOcorrencia .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100% !important;
}
