/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
		[ Header Mobile ]*/
.wrap-header-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 65px;
    background-color: #fff;
    padding: 10px 25px;
    display: none;
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 100;
}

/*------------------------------------------------------------------
		[ Logo mobile ]*/
.logo-mobile {
    display: block;
    position: relative;
    height: 100%;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
}

.logo-mobile img {
    max-width: calc(100% - 35px);
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/*------------------------------------------------------------------
		[ btn show menu ]*/
.hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 0;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    border-radius: 0;
}


/*==================================================================
[ Menu mobile ]*/
.menu-mobile {
    width: 100%;
    background-color: #fff;
    display: none;
}

.main-menu-m {
    padding-top: 13px;
    padding-bottom: 23px;
    background-color: rgb(61, 61, 61);
    ;
}

.main-menu-m>li>a {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 2.8;
    padding: 9px 25px 9px 25px;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.main-menu-m>li>a:hover {
    color: #fff;
}

.main-menu-m>li {
    position: relative;
    background-color: rgb(61, 61, 61);
    ;
}

.arrow-main-menu-m {
    font-size: 14px;
    color: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 18px;
    top: 3px;
    padding: 10px;
    cursor: pointer;
}

.arrow-main-menu-m i {
    transform-origin: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.turn-arrow-main-menu-m i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*---------------------------------------------*/
.sub-menu-m {
    background-color: #fff;
    padding: 10px 50px 15px 20px;
    display: none;
}

.sub-menu-m a {
    font-family: Roboto-Regular;
    font-size: 15px;
    color: rgb(61, 61, 61);
    line-height: 2.5;
    padding: 5px 15px 5px 15px;
}

.sub-menu-m a:hover {
    text-decoration: none;
}

/*---------------------------------------------*/
@media (max-width: 991px) {
    .wrap-header-mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }

    .topbar,
    .logo,
    .no-banner,
    .wrap-main-nav {
        display: none;
    }

    .wrap-logo {
        height: auto;
    }
}

@media (min-width: 992px) {
    .menu-mobile {
        display: none;
    }
}